$primarycolor:#7B8591;
$secondarycolor:#3B3D40;
$pcolor:#5F41B6;
$tertirypurple:#4621AD;
$ycolor:#FFEE00;
$blackcolor:#303336;
$whitecolor:#FFFFFF;
$lightgrey: #E8E8E8;
$darkgrey:#4E4E4E;
$darkblack:#0A0A0A;
$bordercolor:#EEEEEE;
$tertiarycolor:#838D8F;
$boundarycolor:#DDDDDD;
$tertiaryblack:#000000;
$tertiarygrey: #6F6F6F;
$altcolor:#F6F6F6;
$searchiconcolor:#BCBCCB;
$serachcolor:#C1C1C1;
$shadowcolor:#0000000D;
$menugrey:#C6C6D4;
